{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<section class="register">
    
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
     <h1>S'inscrire</h1>

        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.codecity) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
     

</section>
{% endblock %}
